.container(ng-controller='MainController')
    ng-view
    //.row
    //    .col-md-12
    //        h2.text-center.text-uppercase Контакты
    //.row
    //    .header-app
    //        button.btn-primary.pull-left Добавить
    //        div.pull-right
    //            a.sort-table.switch-btn(href="#" ng-click="showGrid=false")
    //            a.sort-line.switch-btn(href="#" ng-click="showGrid=true")
    //                .row
    //    table.table.table-hover.contact-table(ng-hide='showGrid')
    //        thead
    //         tr
    //          th #
    //          th Имя
    //          th Фамилия
    //          th Телефон
    //          th Email
    //        tbody
    //            tr(ng-repeat="data in datas")
    //             td {{$index+1}}
    //             td {{data.name}}
    //             td {{data.surname}}
    //             td {{data.phone}}
    //             td {{data.email}}
    //    .row(ng-hide="val")




