//- Сюда добавляем скрипты которые грузятся в конце страницы
//- script(src='js/mysuperscipt.js')  - Загрузка с файла
//-
//- script.
//-        var a = super;
//-	function{}
//-  Скрипт прямо на странице ( Обрати внимание на точку ( . ) после 'script')

<!-- bower:js -->
<!-- endbower -->
//app
script(src = 'js/app.js')
    //controllers
script(src = 'js/controllers/MainController.js')
script(src = 'js/controllers/AddCtr.js')
//directives
script(src = 'js/directives/contactsList.js')

script(src='../components/jquery-file-upload/js/jquery.fileupload-angular.js')




