//- Сюда добавляем скрипты которые грузятся в конце страницы
//- script(src='js/mysuperscipt.js')  - Загрузка с файла
//-
//- script.
//-        var a = super;
//-	function{}
//-  Скрипт прямо на странице ( Обрати внимание на точку ( . ) после 'script')

<!-- bower:js -->
<!-- endbower -->
script(src = 'js/app.js')
script(src = 'js/controllers/MainController.js')
script(src = 'js/directives/contactsList.js')



