<div class="conteiner" ng-controller="MainController">
    <div class="row">

            <h2 class="text-center text-uppercase">Контакты</h2>

    </div>
    <div class="row">

            <div class="header-app clearfix" ng-model="showGrid">
                <button class="btn btn-default pull-left" ng-click="addContact()">Добавить</button>

                <div class="pull-right"><a ng-click="showGrid=false" class="sort-table switch-btn"></a>
                    <a ng-click="showGrid=true" class="sort-line switch-btn"> </a>
                </div>
            </div>


            <table ng-hide="showGrid" class="table table-hover contact-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Телефон</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datas" ng-click="contactEdit(data.$id)">

                    <td>{{$index+1}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.surname}}</td>
                    <td>{{data.phone}}</td>
                    <td>{{data.email}}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div ng-hide="!showGrid" class="contact-table">

              <div class="item-boom" ng-repeat="data in datas" ng-click="contactEdit(data.$id)">
                <div class="img-avatar"><img src="http://lorempixel.com/128/128/" alt="avatar"/></div>
                  <div class="text-center"><strong>{{data.name}} {{data.surname}}</strong></div>
                  <div class="text-center"><strong>{{data.phone}}</strong> </div>


              </div>

        </div>

</div>
